<h1>Edit Task:  <%= task.Name %></h1>
<%= form({action: taskUpdatePath({id: task.ID}), method: "PUT"}) { %>
    <div class="row">
        <div class="col-md-6">
          <%= f.InputTag({name:"Name", value: task.Name, label: "New Name"}) %>
        </div>
    
        <div class="col-md-6">
            <%= f.InputTag({name:"Description", value: task.Description, label: "New Description"}) %>
        </div>
    </div>
    <button type="submit" class="btn btn-info" value="Create task">Save Changes</button>
<% } %>
<br>
<%= linkTo(taskShowPath({id: task.ID}), {body: "Back", class: "btn btn-primary"})%>