<h1>Edit Task:  <%= task.Name %></h1>
<%= form_for( task,{action: taskUpdatePath({id: task.ID}), method: "PUT"}) { %>
    <div class="row">
        <div class="col-md-6">
          <%= f.InputTag("Name",{required: true}) %>
        </div>
    
        <div class="col-md-6">
            <%= f.InputTag("Description",{label: "New Description"}) %>
        </div>
        <div class="col-md-6">
            <%= f.CheckboxTag("Finished",{value: task.Finished, unchecked: false}) %>
        </div>
    </div>
    <button type="submit" class="btn btn-info" value="Create task">Save Changes</button>
<% } %>
<br>
<%= linkTo(taskShowPath({id: task.ID}), {body: "Back", class: "btn btn-primary"})%>