<div class="row">
    <div class="col">
        <h1>Task Details</h1>
        <h2>Name: <%= task.Name %></h2>
        <p>Description: <%= task.Description %></p>
        <%= if (task.Finished) { %>
            <p>Status: <span class="success">Completed</span></p>
        <% } else { %>
            <p>Status: <span class="warning">Completed</span></p>
        <% } %>

        <%= linkTo(taskDeletePath({id: task.ID}), {body: "Delete task", class: "btn btn-danger", data-method: "DELETE", data-confirm: "Are you sure you want to delete this task ?"})%>
    </div>
</div>

<%= linkTo(rootPath(), {body: "Back", class: "btn btn-primary"})%>