<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1>TO DO APP</h1>
      </div>
    </div>
  </div>

</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Tasks</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">NAME</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
          <%= for (t) in tasks { %>
            <tr>
              <td class="centered">
                <%= linkTo(taskShowPath({id: t.ID}), {body: t.Name, class: ""})%>
              </td>
              <td>
                <%= t.Description %>
              </td>
              <td>
                <%= if (t.Finished) { %>
                  Finished
                  <% } else { %>
                  Pending
                  <% } %>
              </td>
              <td>
                  <%= if (t.Finished) { %>
                    <%= linkTo(newTaskPath(), {body: "Mark as pending", class: "btn btn-danger"})%>
                  <% } else { %>
                    <%= linkTo(newTaskPath(), {body: "Mark as completed", class: "btn btn-warning"})%>
                  <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%= linkTo(newTaskPath(), {body: "Create New Task", class: "btn btn-primary"})%>
</div>
